* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 20px;
}

.nav-item {
    margin: 10px;
    color: aliceblue;
}

.banner {
    background-color: red;
    height: 400px;
}

.banner-text {
    
}