* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

.text, .title {
    margin-bottom: 10px;
}

.header {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 20px;
}

.nav-item {
    margin: 10px;
    color: aliceblue;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: red;
    height: 400px;
}

.banner-text {
    width: 35%;
    margin: 10px;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
}

article[class="banner"] {
    background-color: beige;
    height: 500px;
}

.spec > .spec-top {
    margin: 30px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.spec-line {
    width: calc(100vw - 40px);
    border: 1px dashed rgb(202, 202, 202);
    /* background-color: gray; */
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.spec-line-arc {
    width: 2vw;
    height: 2vw;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

.topics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.topic-container {
    width: 100px;
    text-align: center;
    font-size: 11px;
    margin: 10px;
}

.circle {
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* .topic-container > h3 {
    margin-bottom: 10px;
} */

.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    background-color: red;
}

.card {
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: orange;
    border-radius: 5px;
}